a {
  color: #777;
  font: 8em; }

p {
  color: #777;
  font-size: 4em;
  font-style: italic; }

h1 {
  font-size: 4em;
  color: #00f; }

h2 {
  font-size: 7em;
  color: #000; }

#main-nav {
  background-color: #007100; }
  #main-nav ul {
    padding: 20px 0; }
    #main-nav ul li {
      display: inline-block; }
      #main-nav ul li a {
        color: #ff0000;
        text-decoration: none;
        padding: 15px; }
        #main-nav ul li a:hover {
          color: blue; }
